.custom-background2 {
    min-height: 100vh;
    background-image: url('../../public/images/Willis-Malik-Alamy-scaled\ \(3\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  